[user]
	email = <email>
	name = Brandon Groves
	signingKey =
[core]
	autocrlf = false
	editor = vim
	pager = delta
[push]
	default = simple
[alias]
	hist = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	st = status -sb
	cm = commit
	co = checkout
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	br = branch
	df = diff
	p = push
	po = push origin
	pu = push upstream
	poh = push origin HEAD
	lg = log -p
	ft = fetch
	fu = fetch upstream
	fup = fetch upstream --prune
	fop = fetch origin --prune
	fap = fetch --all --prune
	rb = rebase
	sh = stash
	shop = stash pop
	rum = rebase upstream/main
	rumstr = rebase upstream/master
	rud = rebase upstream/develop
	cod = checkout develop
	romstr = rebase origin/master
	com = checkout main
	comstr = checkout master
	rbi2 = rebase -i HEAD~2
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	line-numbers = true
	side-by-side = true
[interactive]
	diffFilter = delta --color-only
[commit]
	gpgsign = true

